{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'fantasy;', sans-serif;
}

.wrapper{
  display: flex;
}

}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #indianred;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: beige;
  border-left: 2px solid aliceblue;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

body {
  font-size: 30px;
  background: #E2BAB1;
  font-family: BodoniSvtyTwoSCITC;
}


table {
  border: solid;
  margin: 40px;
}

td {
  border: dashed;
}

th {
  border: outset;
}

h1 {
  background-color: #DDA6B9;
  margin: 0;
  padding: 20px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  border-style: outset;
  border-width: 7px;
  border-radius: 40px;
  color: #331a00;
}
h1 @keyframes slideInLeft {

}

h2 {
  text-align: center;
  font-size: 40px;
}

h3 {
  text-align: left;
  font-size: 20px;
  font-family: fantasy;
}

h4 {
  text-align: left;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 30px;
  padding: 0;
}

li a {
  display: block;
  text-decoration: none;
  color: burlywood;
}

li a:hover {
  color: beige;
}

li {
  margin: 0;
  padding: 10px;
  background-color: beige;
  font-size: 24px;
}

li:hover {
  background-color: beige;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 20px;
}